<head>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<style>
  #map { height: 500px; width: 500px; margin-top: 50px; }
</style>
</head>

<body>

<h2>Geo Results</h2>

  <div id='map'></div>

  <% @photos_with_geo.each do |photo| %>
    <%= image_tag photo.images.low_resolution.url, :class => "instagram_photo"%>
  <% end %>

</body>
