<header>
  <nav>
    <h1><a href="#">Trip.me</a></h1>
  </nav>
</header>

  <div class="container">
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
    <div class="box"></div>
  </div>
