

<div class="container">

  <% @instagram_photos.each do |photo| %>
    <% if photo.location.nil? %>
      <div class="box"><%= link_to image_tag(photo.images.standard_resolution.url), "/geo_results/lat_51.5072_long_0.1275" %></div>
    <% else %>
      <div class="box"><%= link_to image_tag(photo.images.standard_resolution.url), "/geo_results/lat_#{photo.location.latitude}_long_#{photo.location.longitude}" %></div>
    <% end %>
  <% end %>

</div>
