<div class="container-fluid">
  <div class="row">
    <div class="column column-12">
      <%=link_to "Trip.Me", "/search_results" %>
    </div>
  </div>
  <div class="row images">
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
  <div class="row images">
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
  <div class="row images">
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
  <div class="row images">
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
    <div class="column column-3">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>

</div>
