
<h2>Hash Tag Results</h2>

<div class="container">
  <% @photos_with_location.each do |photo| %>
    <div class="box"><%=link_to image_tag(photo.images.low_resolution.url, :class => "clickable_photo"), "/geo_results/lat_#{photo.location.latitude}_long_#{photo.location.longitude}"%></div>
  <% end %>
</div>
