<div class="row search_container">
  <div class="column column-12">
    <input type="text" placeholder="Search Hashtags..." class="search_bar">
  </div>
</div>

<% @instagram_photos.each do |photo| %>
  <%= image_tag photo.images.standard_resolution.url %>
<% end %>
