<div class="row search_container">
  <div class="column column-12">
    <input type="text" placeholder="Search Hashtags..." class="search_bar">
  </div>
</div>
<div class="row search_results">
  <div class="column column-6">
    <div class="module">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
  <div class="column column-6">
    <div class="module">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
</div>
<div class="row search_results">
  <div class="column column-6">
    <div class="module">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
  <div class="column column-6">
    <div class="module">
      <img src="https://scontent.cdninstagram.com/hphotos-xaf1/t51.2885-15/e15/11296732_1488264734805899_1190489005_n.jpg">
    </div>
  </div>
</div>
