
<head>
  <meta charset="UTF-8">
  <title>Weather Roulette</title>
  <script src='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.2.1/mapbox.css' rel='stylesheet' />
<style>
  #map { height: 500px; width: 500px; margin-top: 50px; }
</style>
</head>

<body>
  <h1>Press Me...if YOU DARE!</h1>
  <div id='map'></div>
</body>
