/*******   GENERAL *********/

body {
  margin:0;
  background-color: #f3f3f3
}
.container {
  width: 80%;
  margin: 3em auto;
}
h2 {
  text-align: center;
}
/******* HEADER  *********/

nav {
  background-color: #001F4C;
  position: relative;
  height: 5.5em;
}
input {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  background-color:#001433;
  color: white;
}
h1 {
  margin-left: 5%;
  display: inline-block;
}
.logo{
  width: 6em;
  height: auto;
  position: absolute;
  top: 31%;
  left: 3%;
}


/********   IMAGES   ********/
img {
  transition:-webkit-transform .5s ease-in-out;
  transition:-moz-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  border-radius: 10px;
}
img:hover {
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:  scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
.instagram_photo {
  width: 10em;
  height: 10em;
}

/********   MAP VIEW   ********/

#map {
  height: 500px;
  width: 30%;
  margin-left:5%;
  display: inline-block;
  margin-top: 3em;
}
#map_right {
  display: inline-block;
  width: 40%;
  margin-top: 3em;
}
