body {
  background-color: #f3f3f3;
  margin:0;
}
h1 {
  display: inline-block;
  margin-left: 5%;
}
img {
  max-width: 100%;
}
input {
  background-color:#001433;
  border-radius: 5px;
  position: absolute;
  color: white;
  left: 60%;
  padding: 10px;
  top: 20%;
  width: 300px;
}
nav {
  background-color: #001F4C;
  height: 5.5em;
  position: relative;
}
.box {
  display: inline-block;
  height: 220px;
  margin:10px;
  transition:-webkit-transform .5s ease-in-out;
  transition:-moz-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  width: 30%;

}
.box:hover {
  -moz-transform:  scale(1.5,1.5);
  -webkit-transform: scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
.container {
  margin: 3em auto;
  width: 80%;
}
.instagram_photo {
  height: 8em;
  width: 8em;
}
.logo{
  left: 3%;
  position: absolute;
  top: 31%;
  width: 6em;
}
#map {
  height: 500px;
  margin-top: 50px; 
  width: 500px;
}
