body {
  margin:0;
}
nav {
  background-color: lemonchiffon;
  border-bottom: 5px solid black;
  position: relative;
  height: 5.5em;
}
h1 {
  margin-left: 5%;
  display: inline-block;
}
.container {
  width: 70%;
  margin: 3em auto;
}
img {
  transition:-webkit-transform .5s ease-in-out;
  transition:-moz-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  border-radius: 10px;
}
img:hover {
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:  scale(1.5,1.5);
  transform: scale(1.5,1.5);
}
.logo{
  width: 5em;
  position: absolute;
  top: 5%;
  left: 10%;
}
.box {
  /*display: inline-block;*/
  /*width: 25%;
  height: 220px;*/
  margin:0;
  transition:-webkit-transform .5s ease-in-out;
  transition:-moz-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
}
input {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 300px;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 5px;
}
.box:hover {
  -webkit-transform: scale(1.5,1.5);
  -moz-transform:  scale(1.5,1.5);
  transform: scale(1.5,1.5);
}

#map { height: 500px; width: 500px; margin-top: 50px; }

.instagram_photo {
  width: 10em;
  height: 10em;
}
